# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal
staticfiles/
media/*
!media/.gitkeep

# Environment variables
.env

# IDE
.vscode/
.idea/

# Operating system
.DS_Store
Thumbs.db

# Testing and coverage
.pytest_cache/
.coverage
htmlcov/

# Celery
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal
celerybeat.pid
