<aside class="app-sidebar">
    <div class="sidebar-brand">
        <span class="brand-mark">G</span>

        <div>
            <strong>Glauria ERP</strong>
            <small>Maison Glauria</small>
        </div>
    </div>

    <nav class="sidebar-nav">
        <a
            href="{% url 'dashboard:home' %}"
            class="sidebar-link{% if request.resolver_match.namespace == 'dashboard' %} active{% endif %}"
        >
            Dashboard
        </a>

        <a
    href="{% url 'crm:home' %}"
    class="sidebar-link{% if request.resolver_match.namespace == 'crm' and request.resolver_match.url_name == 'home' %} active{% endif %}"
>
    CRM
</a>

<a
    href="{% url 'crm:opportunities_home' %}"
    class="sidebar-link{% if request.resolver_match.namespace == 'crm' and request.resolver_match.url_name == 'opportunities_home' %} active{% endif %}"
>
    Satış Fırsatları
</a>
       <a
    href="{% url 'sales:home' %}"
    class="sidebar-link{% if request.resolver_match.namespace == 'sales' and request.resolver_match.url_name == 'home' %} active{% endif %}"
>
    Satış Yönetimi
</a>

<a
    href="{% url 'sales:orders_home' %}"
    class="sidebar-link{% if request.resolver_match.namespace == 'sales' and request.resolver_match.url_name == 'orders_home' %} active{% endif %}"
>
    Satış Siparişleri
</a>

       <a
    href="{% url 'purchasing:home' %}"
    class="sidebar-link{% if request.resolver_match.namespace == 'purchasing' %} active{% endif %}"
>
    Satın Alma
</a>

       <a
    href="{% url 'inventory:home' %}"
    class="sidebar-link{% if request.resolver_match.namespace == 'inventory' %} active{% endif %}"
>
    Stok Yönetimi
</a>

        <a
    href="{% url 'manufacturing:home' %}"
    class="sidebar-link{% if request.resolver_match.namespace == 'manufacturing' and request.resolver_match.url_name == 'home' %} active{% endif %}"
>
    Üretim
</a>

<a
    href="{% url 'manufacturing:boms_home' %}"
    class="sidebar-link{% if request.resolver_match.namespace == 'manufacturing' and request.resolver_match.url_name == 'boms_home' or request.resolver_match.url_name == 'bom_create' or request.resolver_match.url_name == 'bom_detail' %} active{% endif %}"
>
    Ürün Reçeteleri
</a>

        <a
    href="{% url 'finance:home' %}"
    class="sidebar-link{% if request.resolver_match.namespace == 'finance' %} active{% endif %}"
>
    Finans
</a>
<a
    href="{% url 'hr:home' %}"
    class="sidebar-link{% if request.resolver_match.namespace == 'hr' %} active{% endif %}"
>
    İnsan Kaynakları
</a>

    </nav>
</aside>