<header class="app-topbar">

    <div>
        <h1 class="page-title">
            Dashboard
        </h1>

        <p class="page-subtitle">
            Maison Glauria Management Center
        </p>
    </div>

    <div class="topbar-user">

        <div class="user-info">
            <strong>
                {{ request.user.get_full_name|default:request.user.username }}
            </strong>

            <small>
                {{ request.user.email }}
            </small>
        </div>

        <div class="user-avatar">
            {{ request.user.username|first|upper }}
        </div>

    </div>

</header>